<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<h2> 

<%= @time.to_formatted_s(:short) %>


<%= @time.to_formatted_s(:long) %>
</h2>


<h3> 

You have visited this <%= @count %> times

</h3>